/**
 * Color
 */

.pmc-setting-color

	.components-color-palette + .components-range-control
		margin-top 1em

	.components-base-control > .components-base-control__field .components-base-control__label
		display flex
		align-items center
