/**
 * CustomText
 */

.pmc-setting-custom_text

	ol
		list-style-type decimal
		margin 0 0 1em 2em

	ul
		list-style-type disc
		margin 0 0 1em 2em

	a
		display block

	a
	p
		margin-top 0
		margin-bottom 1em

	h3
		font-weight 600
		margin-top 0
		margin-bottom 1.5em

	ol
	ul
	a
	p
	h3
		&:last-child
			margin-bottom 0
