/**
 * App - Color fixes
 */

.pmc-sidebar
	background-color var(--background_color)
	color var(--text_color)

	input[type=checkbox]:checked:before
		color var(--background_color);

	input[type=radio]:checked:before
		background-color: var(--background_color);

	.components-form-toggle__input:focus + .components-form-toggle__track
		box-shadow 0 0 0 2px var(--border_color_stronger)

	.components-form-toggle
	.components-form-toggle:hover

		.components-form-toggle__track
			background-color: var(--background_color);

		.components-form-toggle__thumb
			background-color: var(--text_color_softer);
			border-color: var(--text_color_softer);

		.components-form-toggle__off
			color var(--text_color_softer)

	.components-form-toggle.is-checked

		.components-form-toggle__track
			background-color: var(--color_primary);

		.components-form-toggle__thumb
			background-color: var(--background_color);
			border-color: var(--background_color);

		.components-form-toggle__on
			border-color: var(--text_color_softer);

		.components-form-toggle__off
			color var(--background_color)


	.components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled=true])
	.components-panel__body-toggle.components-button
	button
	input
	a
	h1, h2, h3, h4, h5, h6
	::placeholder
	.DayPickerNavigation_button__default
	.CalendarMonth_caption
		color var(--text_color)

	.component-color-indicator
		border-color var(--border_color)

	span:empty + .component-color-indicator
		margin-left 0

	// Days which can be choosen
	.CalendarDay__default
		color var(--text_color)
		border-color var(--border_color)
		background-color var(--border_color_softer)

	.CalendarDay__default:hover
	.CalendarDay__selected_span
		color var(--background_color)
		background-color var(--color_primary)

	// Days in the past
	.CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover
		color var(--border_color_stronger)
		background-color var(--background_color)

	.DayPicker_weekHeader
		color var(--text_color_softer)

	.DayPickerNavigation_svg__horizontal
		fill var(--text_color_softer)

	.CalendarMonthGrid
	.CalendarMonth
	.DateRangePicker_picker
		background-color var(--background_color)

	.pmc-setting-buttons .components-toolbar__control.components-button:not(:disabled):hover svg
	.components-panel__body-toggle.components-button .components-panel__arrow
	svg
		color var(--text_color_softer)

	input[type=checkbox]:checked
	input[type=radio]:checked
		background-color var(--color_primary)
		border-color var(--color_primary)

	.components-toolbar
		background-color var(--background_color)
		border-color var(--border_color)

	.CalendarDay__selected_span
		background-color var(--color_primary_softer)

	.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover
		background-color var(--color_primary_softer)
		color var(--background_color)

	.DayPickerKeyboardShortcuts_show__bottomRight
		border-right-color var(--color_primary)

	.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover
		background-color var(--color_primary)
		color var(--background_color)

	.pmc-tab input[type="text"]
	.pmc-tab input[type="number"]
	input
	textarea
	select
		color var(--text_color)
		background-color var(--background_color)
		border-color var(--border_color_stronger)

	.pmc-setting-buttons .components-toolbar__control.components-button:not(:disabled):hover svg
		box-shadow inset 0 0 0 1px var(--color_primary)

	.pmc-tab input[type="text"]:focus
	.pmc-tab input[type="number"]:focus
	input:focus
	textarea:focus
	select:focus
		border-color var(--color_primary)
		color var(--text_color)
		box-shadow 0 0 0 1px var(--color_primary)

	input[type=range]::-webkit-slider-thumb
	input[type=range]::-moz-range-thumb
	input[type=range]::-ms-thumb
		background-color var(--text_color)

	input
	select
	textarea
	.DateInput
	.DateRangePickerInput
	.SingleDatePickerInput
	.components-icon-button:not(:disabled):not([aria-disabled=true]):not(.is-default):hover
		background-color var(--background_color)

	.pmc-setting-buttons .components-toolbar__control.components-button:not(:disabled).is-active svg
	.components-form-toggle.is-checked .components-form-toggle__track
		background-color var(--color_primary)

	.pmc-tab .components-toolbar__control.components-button:not(:disabled).is-active svg
		color var(--background_color)

	.components-panel__body > .components-panel__body-title:hover
		background-color var(--border_color_softer)
