/**
 * Range
 */

.pmc-setting .components-range-control
.pmc-setting.components-range-control

	.components-base-control__slider
		flex 1
		margin-left 0

	.components-base-control__label
		min-width 100%
		margin-right 0

	.components-base-control__field
		display flex

.pmc-setting-range_float

	&.float_5
		input[type="number"]
			width 60px
	&.float_6
		input[type="number"]
			width 70px
	&.float_7
		input[type="number"]
			width 80px
	&.float_8
		input[type="number"]
			width 90px
	&.float_9
		input[type="number"]
			width 100px
	&.float_10
		input[type="number"]
			width 110px
	&.float_11
		input[type="number"]
			width 120px
	&.float_12
		input[type="number"]
			width 130px

// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.pmc-sidebar

	input[type=range]
		-webkit-appearance: none;

	input[type=range]:focus
		outline none
		box-shadow none

	input[type=range]::-webkit-slider-runnable-track
		background-color var(--border_color)
		border none
		box-shadow none

	input[type=range]::-webkit-slider-thumb
		box-shadow none
		border none
		height 12px
		width 12px
		border-radius 50%
		background-color var(--text_color_softer)
		cursor pointer
		-webkit-appearance none
		margin-top -5px

	input[type=range]:focus::-webkit-slider-runnable-track
		background-color var(--border_color)
		border none
		box-shadow none
		outline none

	input[type=range]::-moz-range-track
		background-color var(--border_color)
		border none
		box-shadow none

	input[type=range]::-moz-range-thumb
		box-shadow none
		border none
		height 12px
		width 12px
		border-radius 50%
		background-color var(--text_color_softer)
		cursor pointer
		-webkit-appearance none
		margin-top -5px

	input[type=range]::-ms-track
		background-color var(--border_color)
		border none
		box-shadow none

	input[type=range]::-ms-fill-lower
		background-color var(--border_color)
		border none
		box-shadow none

	input[type=range]::-ms-fill-upper
		background-color var(--border_color)
		border none
		box-shadow none

	input[type=range]::-ms-thumb
		box-shadow none
		border none
		height 12px
		width 12px
		border-radius 50%
		background-color var(--text_color_softer)
		cursor pointer
		-webkit-appearance none
		margin-top -5px

	input[type=range]:focus::-ms-fill-lower
		background-color var(--border_color)
		border none
		box-shadow none
		outline none

	input[type=range]:focus::-ms-fill-upper
		background-color var(--border_color)
		border none
		box-shadow none
		outline none
