/*
 * Test
 */

.a
	color red

.is-toggled
	#ps-pinned-logo
		&:before
			content ""
			background-color #23282b
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			z-index -1

.ps-logo-container
	width 20px
	height 20px
	background-color deepPink
