/*
 * Test
 */

$e_standard = cubic-bezier(0.4, 0.0, 0.2, 1)

.a
	color red

.pmc-image-container
	position relative
	margin-top 1.2em

	&:hover
		button.pmc-image-remove
			fill rgba(255,255,255,.8)

.pmc-dragging_image
.pmc-image
	// https://stackoverflow.com/a/18294634 | CC BY-SA 3.0
	cursor move // fallback if grab cursor is unsupported
	cursor grab
	cursor -moz-grab
	cursor -webkit-grab

button.pmc-image-remove
	padding 5px
	width 30px
	height 30px
	position absolute
	top 0
	right 0
	fill rgba(255,255,255,.4)
	z-index 1
	transition fill .3s .1s $e_standard

.pmc-dragging_image
	z-index 999

	img
		max-width 100%

.is-toggled
	#pmc-pinned-logo
		&:before
			content ""
			background-color #23282b
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			z-index -1

.pmc-logo-container
	width 20px
	height 20px
	background-color deepPink

.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg.dashicons-carrot path
	stroke none

.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg path[fill="none"]
	fill none
	stroke none

// Override Gutenberg style (where !important is being used)
.edit-post-pinned-plugins .components-icon-button:hover svg path[fill="none"]
.edit-post-pinned-plugins .components-icon-button.is-toggled svg path[fill="none"]
	fill none!important
	stroke none!important

.edit-post-pinned-plugins .components-icon-button:hover svg.dashicons-carrot path
.edit-post-pinned-plugins .components-icon-button.is-toggled svg.dashicons-carrot path
	stroke none!important
