/*
 * Colors
 */

.pmc-sidebar

	// Light

	&.color_scheme-type-light
		--text_color rgba(0,0,0,0.87)
		--text_color_stronger rgba(0,0,0,1)
		--text_color_softer rgba(0,0,0,.75)
		--border_color rgba(0,0,0,.1)
		--background_color #fff

	&.color_scheme-name-banana
		--color_primary #FFDEAD
		--color_secondary_1 #7F6F56
		--color_secondary_2 #E5C89C

	// Dark

	&.color_scheme-type-dark
		--text_color rgba(255,255,255,.9)
		--text_color_stronger rgba(255,255,255,1)
		--text_color_softer rgba(255,255,255,.75)
		--border_color rgba(255,255,255,.1)
		--background_color #23282c

	&.color_scheme-name-higo
		--color_primary #827c7a
		--color_secondary_1 #CEC5C2
		--color_secondary_2 #686462
