/*
 * Test
 */


.ps-control-range
	&.float_5
		input[type="number"]
			width 60px
	&.float_6
		input[type="number"]
			width 70px
	&.float_7
		input[type="number"]
			width 80px
	&.float_8
		input[type="number"]
			width 90px
	&.float_9
		input[type="number"]
			width 100px
	&.float_10
		input[type="number"]
			width 110px
	&.float_11
		input[type="number"]
			width 120px
	&.float_12
		input[type="number"]
			width 130px
