/*
 * Control - Checkbox
 */

.pmc-control-toggle + .pmc-control-toggle
.pmc-control-checkbox + .pmc-control-checkbox
	margin-top 1em

.pmc-control-checkbox
.pmc-control-toggle
	.components-checkbox-control__label
		font-weight 500
