/*
 * Control - Buttons
 */

.pmc-control-date_range
	width: calc(100% + 2.4em);
	margin-left: -1.2em;

	div
		max-width 100%

	.DateRangePicker_picker
		max-width: calc(100% + 2.4em);

	.DayPicker_weekHeader
		width calc(100% + 10px)
		margin-left -10px
		max-width none
		margin-top -8px

	.DayPicker_weekHeader_li
		max-width 14.28%

.DateRangePickerInput
	display: flex;
	flex-direction: column;

.DateInput ~ .DateInput
	padding-top 1.2em
	// width 150px

.DateRangePicker_picker
	top 0!important
	// max-width: calc(100% + 2.4em);
	margin-left: -1.2em;
	width: calc(100% + 2.4em);

.DayPicker__withBorder
	box-shadow none

.DateRangePickerInput_arrow
.DateInput_fang
	display none

.CalendarMonthGrid
.DateRangePicker_picker
	left 0

.DateRangePicker_picker
	position relative

.DateRangePicker
.DateRangePickerInput
	width 100%

.DateInput_input
	width 140px
