/*
 * Fixes Logo
 */

.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg.dashicons-carrot path
	stroke none

.edit-post-pinned-plugins .components-icon-button:not(.is-toggled) svg path[fill="none"]
	fill none
	stroke none

// Override Gutenberg style (where !important is being used)
.edit-post-pinned-plugins .components-icon-button:hover svg path[fill="none"]
.edit-post-pinned-plugins .components-icon-button.is-toggled svg path[fill="none"]
	fill none!important
	stroke none!important

.edit-post-pinned-plugins .components-icon-button:hover svg.dashicons-carrot path
.edit-post-pinned-plugins .components-icon-button.is-toggled svg.dashicons-carrot path
	stroke none!important
