/*
 * Invalid
 */

#pmc-invalid-header
	position relative
	padding 2em 1.2em
	width 100%
	font-size 1.05em

.pmc-invalid
	color rgba(0,0,0,0.85)
	background-color #f9e2e2
	border-left 4px solid #d94f4f
	position relative
	padding 2em 1.2em
	width 100%

	.components-base-control__label
		position relative

	+ .pmc-invalid
		margin-top 5px

.pmc-invalid-title
	font-size 13px
	font-weight 500
	display block
