/*
 * Panel
 */

.pmc-panel + .pmc-panel
	border-top 1.5px solid rgba(0,0,0,0.1)

.pmc-panel-label-container
	color #191e23
	font-weight 600
	padding 15px
	position relative
	text-align left
	width 100%
	display flex

.pmc-panel-icon svg
	max-height 18px
	display block
	margin-right 8px

.pmc-tab-content

	.components-panel__body:first-child
		border-top none

	.components-panel__row
		margin 0
		padding 0
		display flex
		flex-direction column

	.pmc-panel
		padding 0

		button
			color var(--text_color)
		svg
			color var(--fill_color)

		> h2.components-panel__body-title
			margin 0

		h2:hover
		button:focus
			background transparent

		&:last-child
			.components-panel__row
				padding-bottom 100px
