/*
 * Panel
 */

.pmc-tab-content

	.components-panel__body:first-child
		border-top none

	.components-panel__row
		margin 0
		padding 0
		display flex
		flex-direction column
		padding-bottom 100px

	.pmc-panel
		padding 0

		button
			color var(--text_color)
		svg
			color var(--fill_color)

		> h2.components-panel__body-title
			margin 0

		h2:hover
		button:focus
			background transparent
