/*
 * Setting - Buttons
 */

.pmc-setting-buttons
    .components-toolbar__control.components-button:not(:disabled).is-active svg
        outline none
        box-shadow none

    .components-toolbar__control.components-button svg
        padding 5px
        border-radius 2px
        height 30px
        width 30px
