/*
 * Setting - Date
 */

.pmc-setting-date_range
.pmc-setting-date_single
	width calc(100% + 2.4em)
	margin-left -1.2em

	div
		max-width 100%

	.DateRangePicker_picker
		max-width calc(100% + 2.4em)

	.DayPicker_weekHeader
		width calc(100% + 10px)
		margin-left -10px
		max-width none
		margin-top -8px

	.DayPicker_weekHeader_li
		max-width 14.28%

	.DateRangePickerInput
	.SingleDatePickerInput
		display flex
		flex-direction column

	.DateInput ~ .DateInput
		padding-top 1.2em

	.DateRangePicker_picker
	.SingleDatePicker_picker
		top 0!important
		margin-left -1.2em
		width calc(100% + 2.4em)

	.DayPicker__withBorder
		box-shadow none

	.DateRangePickerInput_arrow
	.SingleDateInput_arrow
	.DateInput_fang
		display none

	.CalendarMonthGrid
	.DateRangePicker_picker
	.SingleDatePicker_picker
		left 0

	.DateRangePicker_picker
	.SingleDatePicker_picker
		position relative

	.DateRangePicker
	.SingleDatePicker
	.DateRangePickerInput
	.SingleDatePickerInput
		width 100%

	.DateInput_input
		width 150px
