/*
 * Settings
 */

.pmc-setting
	position relative
	padding 2em 1.2em
	width 100%
	margin 0

	+ .pmc-setting
		border-top 1px solid rgba(0,0,0,0.1)
	+ .invalid
		border-top 4px solid transparent

	&.pmc-no_border_top
		border-top none
		padding-top .5em

.pmc-sidebar
	.components-base-control__help
		font-style normal
		margin-top 15px
		opacity .8

	.components-base-control__label
		font-weight 600
		margin-bottom 1.5em
