/*
 * Tab
 */

$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

.pmc-tab-content
	position relative
	background-color var(--background_color)

.pmc-sidebar
	.components-tab-panel__tabs
		display flex
		height 50px
		background-color var(--background_color)
		border-bottom 1px solid var(--border_color)

.pmc-tab-icon svg
	max-height 18px
	display block
	margin-right 8px

button.pmc-tab-content
	padding 5px
	height 100%
	box-shadow none
	width 50%
	color var(--text_color)
	background transparent
	transition background-color 0.15s cubic-bezier(0, 0, 0.2, 1)
	display flex
	align-items center
	justify-content center
	outline-color currentColor
	outline-width 1px
	cursor pointer
	border none
	transition background-color .15s $e_deceleration

	&:hover
		background-color rgba(0,0,0,0.03)

	&.is-active
		margin-bottom -1px
		font-weight 600
		padding-bottom 1px
		border-bottom 3px solid var(--color_primary)
