/*
 * Test
 */
/*
 * Settings
 */

.ps-tab-content
	position relative
	background-color var(--background_color)

.ps-tab_headers
	display flex
	height 50px
	border-bottom 1px solid var(--border_color)

.ps-tab_navigation-container
	position relative
	height 50px
	background-color var(--background_color)

	&.more_than_3_tabs
		height: 67px;
		margin-bottom: -17px;

		.ps-tab_headers-container
			overflow-x auto

		.ps-tab_headers
			display inline-flex

		button.ps-tab_header-button
			width 90px

button.ps-tab_header-button
	padding 5px
	height 100%
	box-shadow none
	width 50%
	color var(--text_color)
	background transparent
	transition background-color 0.15s cubic-bezier(0, 0, 0.2, 1)
	display flex
	align-items center
	justify-content center

	&.is_active
		margin-bottom -1px
		font-weight 600
		padding-bottom 1px
		border-bottom 3px solid var(--color_primary)

button.ps-tab_navigation-button
	position: absolute;
	top: 0;
	width: 24px;
	height: 49px
	padding: 0;
	background-color var(--background_color)

button#ps-tab_navigation-button-left
	left 0

button#ps-tab_navigation-button-right
	right 0
